<header class="px-28 py-6 flex items-start">

    <div>
        <img class="object-cover h-28"  src="https://res.cloudinary.com/codeofduty-dev/image/upload/v1712223575/arcadia/ARCADIA_zu81ve.png" alt="logo" />
    </div>

    <div class="flex-1" {{ react_component('Header/Menu') }}></div>
</header>